<p id="notice"><%= notice %></p>

  <div class ="cen">
    <strong>Title:</strong>
    <%= @todo_list.title %>
    <br>
    <strong>Description:</strong>
    <%= @todo_list.description %>
    <br><br>
  </div>
<div id="todo_items_wrapper">
  <table>
    <tr>
      <% @sorted_something.each do |todo_item| %>
        <%= render "todo_items/todo_item", todo_item: todo_item %>
      <% end %>
    </tr>
  </table>

  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
